<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="directoryBrowsing" type="MMS.BetterDirectoryListing.DirectoryBrowsingModuleConfigurationSection"/>
  </configSections>
  <directoryBrowsing enabled="true" hideSensitiveFiles="true" allowRoot="true"/>
  <system.webServer>
    <modules>
      <add name="DirectoryBrowsingModule" type="MMS.BetterDirectoryListing.DirectoryBrowsingModule"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>