<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="directoryBrowsing" type="MMS.BetterDirectoryListing.DirectoryBrowsingModuleConfigurationSection"/>
	</configSections>
	<directoryBrowsing enabled="true" hideSensitiveFiles="true"/>
	<system.webServer>
		<defaultDocument enabled="false"/>
		<directoryBrowse enabled="true"/>
		<modules>
			<remove name="DirectoryListingModule"/>
			<add name="DirectoryBrowsingModule" type="MMS.BetterDirectoryListing.DirectoryBrowsingModule"/>
		</modules>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.5" debug="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
</configuration>