<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		
		<directoryBrowse enabled="true" />
        <modules>
            <remove name="DirectoryListingModule" />
            <add name="DirectoryBrowsingModule" type="MMS.BetterDirectoryListing.DirectoryBrowsingModule" />
        </modules>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
</configuration>